<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.fourplex.tabletop" >

    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--GCM permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <permission
        android:name="com.apps.fourplex.tabletop.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.apps.fourplex.tabletop.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--NFC permissions and requeriments-->
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-sdk android:minSdkVersion="10"/>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />



            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <!-- NFC Filter-->
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

        </activity>
        <activity android:name=".CafeteriaActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/name_cafeteria"></activity>

        <activity android:name=".WcActivity"
            android:label="@string/name_wc"
            android:parentActivityName=".MainActivity"></activity>

        <!--GCM 2015 -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />

                <!--support pre-4.4 KitKat devices-->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </receiver>

        <service android:name=".MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service android:name=".MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>

        </service>


        <service android:name=".RegistrationIntentService"
            android:exported="false">

        </service>




    </application>

</manifest>
